@(title: String, bgImageUrl: String)(headerContent: Html)(content: Html)

<!DOCTYPE html>
<html lang="en">

    @import common._

    @head(title)

    <body>

        @navigation()

        @header.header(bgImageUrl, headerContent)

        @content

        <hr>

        @footer()

            <!-- jQuery -->
        <script src="@routes.Assets.versioned("libs/javascripts/jquery.min.js")"></script>
            <!-- Bootstrap Core JavaScript -->
        <script src="@routes.Assets.versioned("libs/javascripts/bootstrap.min.js")"></script>
            <!-- Custom Theme JavaScript -->
        <script src='@routes.Assets.versioned("javascripts/scaler.js")'></script>

    </body>

</html>
