@(title: String, bgImageUrl: String)(content: Html)

<!DOCTYPE html>
<html lang="en">

    @import common._

    @head(title)

    <body>

        @navigation()

        @header(bgImageUrl)

        @content

        <hr>

        @footer()

            <!-- jQuery -->
        <script src="@routes.Assets.versioned("javascripts/jquery.js")"></script>
            <!-- Bootstrap Core JavaScript -->
        <script src="@routes.Assets.versioned("javascripts/bootstrap.js")"></script>
            <!-- Custom Theme JavaScript -->
        <script src='@routes.Assets.versioned("javascripts/scaler.js")'></script>

    </body>

</html>
